<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%- locals.layoutVariables.title %></title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<header>
    <div id="user">
        <% if(locals.layoutVariables.user){ %>
            <p>
                <i style="color: #ff0;"></i>
                <%- locals.layoutVariables.user.nome %>
                    <a href="/logout">
                        <i style="background-color: #0ff;"></i>
                    </a>
            </p>
            <%}%>
    </div>
</header>

<body>
    <%- include ('header.ejs') %>

        <nav></nav>

        <main><%- body %></main>

        <footer></footer>
</body>

</html>