<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<header>
    <div id="user">
       <p>☻</p>
    </div>
</header>

<body>
    <%- include ('header.ejs') %>

        <nav></nav>

        <main><%- body %></main>

        <footer></footer>
</body>

</html>