<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tarefas ♥</title>
    <link rel="stylesheet" href="./css/style.css">
<body>
    <%- include ('header.ejs') %>

    <nav></nav>
    
    <main><%- body %></main>

    <footer></footer>
</body>
</html>